#div1{
    background-color: brown;
    width: 900px;
    height: 555.55px;
}
#div2{
    background-color: royalblue;
    width: 344.44px;
    height: 555.55px;

}
#div4{
    background-color:green;
    width: 344.44px;
    height: 211.111px;

}
#div5{
    background-color:grey;
    width: 133.33px;
    height: 211.11px;

}
#div6{
    background-color:pink;
    width: 133.33px;
    height: 77.77px;
}